@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
body {
  margin: 0;
  padding: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 50%,
    rgba(2, 0, 36, 1) 100%
  );
}

#clock {
  margin-top: 150px;
  text-align: center;
  font-size: 100px;
  font-family: "Black Ops One", cursive;
  color: aliceblue;
}
